<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>
  
  <div class=''>
     <%= render 'admin/content/merge_with' unless @merge %>
  </div>

<% end %>
